<blockquote cite="Any random redneck hillbilly">
  Hold my beer and watch this!!!
</blockquote>

<header class="sticky">
  <a [routerLink]="['./home']" class="logo">
    <img src="../assets/logo-3.svg" alt="logo" width="49" height="99" />
  </a>
  <a [routerLink]="['./home']" class="button rounded" routerLinkActive="active">
    <span class="icon-home"></span>
    Home
  </a>
  <a
    [routerLink]="['./projects']"
    class="button rounded"
    routerLinkActive="active"
  >
    Projects
  </a>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <form [formGroup]="loginForm">
  <input
    [formControl]="loginForm.get('username')"
    type="text"
    name="username"
    placeholder="Enter Username"
  /><br />
  <pre>{{ loginForm.value | json }} </pre>

  <input type="password" name="password" placeholder="Enter Password" /><br />
  <button type="submit">Sign In</button>
</form> -->

<form [formGroup]="loginForm" (submit)="onSubmit()">
  <label>User Name</label>
  <input
    formControlName="username"
    type="text"
    name="username"
    placeholder="User Name"
  />
  <div
    *ngIf="
      loginForm.get('username')?.dirty &&
      loginForm.get('username')?.invalid &&
      loginForm.get('username')?.touched
    "
  >
    <!-- <div *ngIf="loginForm.get('username)?.touched')"> -->
    <div *ngIf="loginForm.get('username')?.hasError('required')">
      Username is required
    </div>
    <div *ngIf="loginForm.get('username')?.hasError('minlength')">
      Username needs to be at least 3 characters
    </div>
  </div>
  <br />

  <label for="description">Password</label>
  <input
    formControlName="password"
    type="password"
    name="password"
    placeholder="Password"
  />
  <!-- <div *ngIf="loginForm.get('username)?.touched')"> -->
  <div
    *ngIf="
      loginForm.get('password')?.hasError('forbiddenPhrase') ||
      loginForm.get('password')?.hasError('forbiddenPhraser')
    "
  >
    Come on man, you can't use that password.
  </div>
  <div>{{ loginForm.value | json }}</div>

  <button type="submit">Sign In</button>
</form>
<pre>{{ loginForm.value | json }}</pre>
<pre>{{ loginForm.get("username")?.errors | json }}</pre>
<pre>{{ loginForm.get("password")?.errors | json }}</pre>

<!-- <app-fruit-list [fruits]="fruits"></app-fruit-list>
<div>
  <app-email-subscribe (subscribe)="onSubscribe($event)"></app-email-subscribe>
</div> -->
<a href="" (click)="onClick($event, 'I have something to say')"
  >Please Click Me!!!</a
>
<p [innerText]="message"></p>
{{ title }}
<app-projects-container></app-projects-container>
